<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %> 
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
    <%- include('../partials/searchBar'); %>
<!-- main-content -->

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <% if(title == undefined) { var title = "Modificar Usuario"} else { var title = "Usuario Modificado! :)" } %>
            <h2 class="products-title"> <%= title2 %> </h2>
        </div>
    
        <div class="col-12 col-sm-6 col-lg-3">
           
            <section class="product-box">
                <form action="/products/<%= user.userId %>/edit?_method=PUT" enctype="multipart/form-data" method="POST" >
                    <div>
                        <label>Nombre de Usuario:</label>
                      
                        <input type="text" name="nombre" value="<%= user.nombre %>" >
                    </div>
                    <div>
                        <label>Apellido:</label>
                        <input type="text" name="apellido" value="<%= user.apellido %>">
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="text" name="email" value="<%= user.email %>">
                    </div>
                  <!--   <div>
                        <label>Descuento:</label>
                        <input type="text" name="discount" value="">
                    </div> -->
                    <div>
                        <label>Imagen Actual:</label>
                        <img src="/images/products/<%= user.image %>">
                    </div>
                    <div>
                        <label>Avatar del usuario:</label>
                        <input type="file" name="image">
                    </div>
                    <button type="submit">Guardar Usuario</button>
                </form>

                <form  action="/products/<%= user.userId %>?_method=DELETE" method="POST" >
                    <button type="submit">Borrar Usuario</button>
                
                </form>
            </section>
          
        </div>
    
    </div>
</div>

</div>

</section>


    <!-- pie -->
<%- include('../partials/footer'); %>

</body>
</html>