<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/styleProductDetailOk.css' />
        <link rel='stylesheet' href='/stylesheets/userForm.css' />
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
    <%- include('../partials/searchBar'); %>
<!-- main-content -->

<form action="/users/<%= masterusers.id %>/edit?_method=PUT" enctype="multipart/form-data" method="POST" >
        <h2 class="products-title"> <%= title2 %> </h2>
       
        <h5 class="products-title"> <%= msg %> </h5>
        
        <section class="product-box">
            <div class="editarCampo">
                <div>
                  <label>Nombre:</label>
                  <input type="text" name="name" value="<%= masterusers.name %>" >
                </div>
                <div>
                  <label>Apellido:</label>
                  <input type="text" name="surname" value="<%= masterusers.surname %>">
                </div>
                <div>
                  <label>Genéro:</label>
                  <p><select id="inputState" name="gender" class="form-control">
                      <option selected><%= masterusers.gender%></option>
                      <option>Hombre</option>
                      <option>Mujer</option>
                      <option>Prefiero no decirlo</option>
                  </select></p>
                </div>
                <div>
                  <br>
                  <label>Tipo de Documento</label>
                  <p><select id="inputState" name="typeDocument" class="form-control">
                    <option selected><%= masterusers.typeDocument%></option>
                    <option>DNI</option>
                    <option>Libreta</option>
                    <option>Pasaporte</option>
                  </select></p>
                  <label>N° de Documento:</label>
                  <input type="text" name="document" value="<%= masterusers.document%>">
                </div>
                <div>
                  <label>Teléfono:</label>
                  <input type="text" name="telephone" value="<%= masterusers.telephone%>">
                </div>
                <div>
                  <br>
                  <h5>Domicilio</h5>
                  <label>Calle y Número </label>
                  <input type="text" name="street" value="<%= masterusers.street%>">
                </div>

                <div>
                  <label>Ciudad</label>
                  <input type="text" name="city" value="<%= masterusers.city%>">
                </div>

                <div>
                  <label>CP</label>
                  <input type="text" name="CP" value="<%= masterusers.CP%>">
                </div>

                <div>
                  <label>Provincia</label>
                  <input type="text" name="province" value="<%= masterusers.province%>">
                </div>

                <div>
                  <br>
                  <h5>Datos de ingreso</h5>
                  <label>Email:</label>
                  <input type="text" name="email" value="<%= masterusers.email %>">
                  

                  <label>Contraseña</label>
                  <input type="password" name="password" value="<%= masterusers.password %>">
                </div>


                <div class="imagenActualUsuario">
                  <label>Imagen Actual:</label>
                  <img src="/images/users/<%= masterusers.avatarName %>">
                </div>

                <div class="form-group col"> <label for="avatarName" class="btn btn-outline-primary">Cargá tu nueva imagen</label>
                 <input type="file" id="avatarName" name="avatarName" accept="images/*" style="display: none" value="<%= masterusers.avatarName %>">

  
                </div>
                

            </div>
        </section>

        <div class="form-group col"> <button type="submit" class="btn btn-success">Guardar Usuario</button>
        </div>

</form>
    <form  action="/users/<%= masterusers.id %>?_method=DELETE" method="POST" >
    <div class="form-group col"> <button type="DELETE" class="btn btn-danger">Borrar Usuario </button>  
    </div>
   </form>
            
 <!-- pie -->
<%- include('../partials/footer'); %>
</body>
</html>