<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %> 
    <link rel='stylesheet' href='/stylesheets/styleProductDetail.css' />
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
    <%- include('../partials/searchBar'); %>

<!-- main-content -->

<form action="/products/<%=product.id %>/edit?_method=PUT" enctype="multipart/form-data" method="POST" >
<div class="container products-wrapper">
    <!-- <div class="row">
        <div class="col-12">
            <% if(msg == undefined) { var title = "Modificar Producto"} else { var title = "Producto Modificado! :)" } %> 
            <h2 class="products-title">  <%= msg %> </h2>
        </div>
    </div>  -->
</div>

    <section class="product-box"> 
            <div>
                <label>Nombre Producto:</label>
               
                <input type="text" name="prodName" value="<%= product.prodName %>" >
            </div>
            <br>
            <div>
                <label>Descripcion:</label>
                <input type="text" name="description" value="<%= product.description %>">
            </div>
            <br>
            <div>
                <label>Precio:</label>
                <input type="text" name="price" value="<%= product.price %>">
            </div>
            <br>
            <div>
                <label>Categoría:</label>
                    <select id="inputState" class="form-control" name="idCategory">
                    <option value="">Elegí una categoría</option>
                    <% categories.forEach(category => { %>
                        <option 
                            value="<%= category.id%>"
                            <%= category.id == product.idCategory ? 'selected' : null %>
                            >
                            <%= category.categoryName %>
                        </option>
                        <% }) %>
                  </select>

                  
               

            </div>
            <br>
            <div>
                <label>Modelo:</label>
                <input type="text" name="model" value="<%= product.model %>">
            </div>
            <br>
            <div>
                <label>Voltaje:</label>
                <input type="text" name="voltage" value="<%= product.voltage %>">
            </div>
            <br>
            <div>
                <label>Imagen Actual:</label>
                <img src="/images/products/<%= product.imageName %>" width="150" height="150">
            </div>
            <br>
            <div>
                <label>Cambiar imagen</label>
                <input type="file" name="imageName" class="btn btn-outline-primary">
            </div>

        
            <br>
            <button type="submit" class="btn btn-success">Guardar</button>

               
    </section>


</section>

</form>
<br>
<form  action="/products/<%= product.id %>?_method=DELETE" method="POST" >
    <button type="submit" class="btn btn-danger">Borrar Producto</button>

</form>





    <!-- pie -->
<%- include('../partials/footer'); %>

</body>
</html>