<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    
    <link rel='stylesheet' href='/stylesheets/productCart.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/styleProductDetailOk.css' />
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
    <%- include('../partials/searchBar'); %>
      <div class="titulo">
        Carrito de Compras
      </div>

      <div class="compras">
        <% cart.forEach( prod => {  %>
         <div class="unItem"> 
              <div class="prodImagen">
              <img src="/images/products/<%=prod.imageName %>" alt="una compra" width="175" height="150" class="imagen"> 
              </div>
            <div class="tituloYCantPrecio">
              <div class="tituloProducto"> <%= prod.prodName %>
              </div>
              <div class="precioCant">
              <input class="form-control col-xl-2  col-12"  type="number" value="2" min="1" max="999">
                <div class="col-xl-2  col-12">$ <%= prod.price %>
                </div> 
              </div>
            </div>
            </div>
            <% }); %>
            
   <div class="container">       
        <div class="row">
          <div class="col-12">
            <div class="pieDetalle">
              <div class="row align-items-center">
                  <% cart.forEach( p => console.log(p)) %>
                <div class="col-12 col-lg-3">
                  <h2 class="precio"> TOTAL  $ <%= cart.reduce( (a,b) => Number(a.price) + Number(b.price)   ) %></h2> 
                </div>


                <div class="col-12 col-md-4 col-lg-4">
                  <a href="/" class="buttonCarrito"> Seguir Comprando </a> 
                </div>

                
                <div class="col-12 col-md-4 col-lg-4">
                <a href="/" class="buttonComprar">  Comprar  </a>
                </div>

                
          

                  </div>
                </div>
              </div>
            </div>           
          </div> 

    
        
          <%- include('../partials/footer'); %>
  </body>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();
</script> 
</html>
