<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/styleProductDetailOk.css' />
  </head>

  <%- include('../partials/nav'); %> 

<!---titulo producto-->

<div class="container">
  <div class="row">
     
    <div class="col-12 col-sm-6 col-lg-8"> <p class="tituloProducto"><%= title2 %></p></div>
    <div class="col-6 col-lg-4"> 
 
        <a href="/users/<%= masterusers.id %>/edit" target="blank">Editar mi perfil</a>
        <br>
        <a href="/products/create" target="blank">Vender un producto</a>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-6 col-lg-4"> <img src="/images/users/<%= masterusers.avatarName %>"> </div>
      <div class="col-12 col-sm-6 col-lg-8"> 
       <p class="tituloDetalle">Detalles de usuario</p> 
       <ul class="caracteristicasProductos">
       <div>Nombre: <%= masterusers.name %> </div>   
       <div>Apellido:  <%= masterusers.surname %> </div> 
       <div>Email: <%= masterusers.email %></div>
       <div>Ciudad: <%= masterusers.city %></div>
      </ul>
    
      </p>
      </div>
    </div>
  </div>


<!-- pie -->
<%- include('../partials/footer'); %>
    

<!---bootstrap-->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
